body {
    font-family: sans-serif;
    background-color:#FFE1AA;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #553700;
    color: #FFE1AA;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: #553700;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color:#D4AF6A;
    padding:10px ;
    width: 400px;
    margin:10px ;
    border:10px double #805A15;
    border-radius: 10px;
}

article img{
     border:10px double #805A15;
}
h2{
    font-family:fantasy;
}
.article-but {
     border-radius: 10px;
    text-decoration: none;
    background-color: #553700;
    color:#FFE1AA;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #553700;
    padding:10px ;
    color: #FFE1AA
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
